<h2>Bienvenido {{usuario}} </h2>
<form action="/api/sessions/logout" method="POST">
    <button type="submit">Logout</button>
</form>

<form action="/api/carts/{{usuario.cart}}/purchase" method="POST">
    <button type="submit">Comprar Carrito</button>
</form>
